.*{margin: 0px;padding: 0px;}
html,body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,form,input,em,textarea,p,th,td,span{margin:0px;padding:0px;}
body,button,input,select,textarea{font:12px/1.5 "微软雅黑", '宋体', STHeiTi,Arial, Helvetica, sans-serif;color:#333;text-align:left;}
body{background-color:#fff;}
p{line-height:21px;}
img,a img,fieldset{border:none;vertical-align:middle;}
section,article,aside,header,footer,nav,dialog,figure{display:block;}
ol,ul,li{list-style-type:none;}
a{text-decoration:none; color:#333; font-size: large; font-family: "bookshelf symbol 7";}
.top{
	width: auto;
	height: 60px;
	border-bottom: groove;
	position: static;
	background-color: #f1f1f1;
}

.top_Logo{
	width:220px;
	margin-left: 20px;
	float: left;
}

.top_function{
	width: 100px;
	height: 40px;
	border-radius:10px;
	float: left;
	text-align: center;
	margin: 10px;
	background-color: #f1f1f1;
}

.top_function:hover{
	background-color: lightsalmon;
}

.top_Inf{
	width: 300px;
	margin-right: 80px;
	float: right;
	border-radius: 10px;
	background-color:#f1f1f1;
}

.middle{
	width: auto;
	position: static;
}

.middle_left{
	width: 300px;
	height: 550px;
	float: left;
	border: none;
	background-color: #f1f1f1;
}
.middle_left_top{
	width: 300px;
	height: 30px;
	float: left;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 18px;
}
.middle_left img{
	float: left;
}
.middle_left_menu{
	width: 300px;
	height: 500px;
	border: none;
	background-color: #f1f1f1;
}

.middle_left_menu ul li{
	padding: 8px;
	text-align: center;
	font-size: 15px;
}

.mennuInf{
	height: 30px;
	border-radius:10px;
	border: 1px solid:black;
}

.mennuInf:hover{
	background-color: #0c9d72;
}

.middle_right{
	width: 1030px;
	height: 550px;
	float: left;
}




/* Border styles */
.table thead, .table tr {
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: rgb(235, 242, 224);
}
.table {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: rgb(235, 242, 224);
}

/* Padding and font style */
.table td, .table th {
	padding: 5px 10px;
	font-size: 20px;
	font-family: "����";
	color: cornflowerblue;
}

/* Alternating background colors */
.table tr:nth-child(even) {
	background: rgb(230, 238, 214)
}
.table tr:nth-child(odd) {
	background: #FFF
}
